img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* #region utility */



/* #endregion utility */


/* #region header */

#site_header {
    background-color: black;
}

/* #endregion header */


/* #region main */
.sony_logo {
    width: 80px;
}

.jumbo {
    background: url(../img/jumbo-bg.png) black;
    background-position: center;
    background-repeat: no-repeat;
    height: 675px;
}

.it_takes_two {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) #1f1f1f;
    background-position: center;
    background-repeat: no-repeat;
    height: 956px;
}

.new_releases {
    background-color: #1f1f1f;
}

.ps_plus {
    background-color: #bebcbb;
}

.ps_now {
    background-color: #161c3b;
}

/* #endregion main */


/* #region footer */

#site_footer {
    background-color: #00439c;
}

#site_footer a:not(.more_info) {
    text-decoration: none;
    display: block;
    color: white;
}

.more_info {
    color: white;
}

/* #endregion footer */