img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* #region utility */



/* #endregion utility */


/* #region header */

#site_header {
    background-color: black;
}

/* #endregion header */


/* #region main */
.sony_logo {
    width: 80px;
}

.jumbo {
    background: url(../img/jumbo-bg.png) #000000;
    background-position: center;
    background-repeat: no-repeat;
    height: 675px;
    position: relative;
}

.jumbo_cta{
    position: absolute;
    top: 42%
}

.returnal_logo{
    width: 280px;
}

h2{
    font-size: 40px;
}

.buy_now{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #cd3d0f;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 2rem;
}

.selected{
    border: 2px solid #0d6efd;
    padding: 3px;
}

.ps_5 h6{
    color: #147dd2;
}

.ps_5 p{
    font-weight: bold;
    color: #727272;
}

.more_info{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2d64e6;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
}

.it_takes_two {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) #1f1f1f;
    background-position: center;
    background-repeat: no-repeat;
    height: 956px;
}

.new_releases {
    background-color: #1f1f1f;
}

.discover{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2d64e6;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
}

.ps_4 i{
    font-size: 12px;
    vertical-align: super;
}

.ps_4 p{
    color: #727272;
    font-size: 20px;
}

.ps_plus {
    background-color: #bebcbb;
}

.explore_ps_plus{
    display: inline-block;
    text-decoration: none;
    color: #2d64e6;
    background-color: #d9dadc;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
}

.sales p{
    color: #727272;
    font-size: 20px;
}

.ps_now {
    background-color: #161c3b;
}

/* #endregion main */


/* #region footer */

#site_footer {
    background-color: #00439c;
}

#site_footer a:not(.legal_info) {
    text-decoration: none;
    display: block;
    color: white;
}

.legal_info {
    color: white;
}

/* #endregion footer */

/* #region hover */

.ps_5 .opacity-50:hover{
    opacity: 4!important;
    border-bottom: 5px solid #0d6efd
}

/* #endregion hover */