img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* #region utility */

.relative {
    position: relative;
}

/* #endregion utility */


/* #region header */

#site_header {
    background-color: black;
}

.log_in {
    display: inline-block;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #363636;
    padding: 8px 12px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

/* #endregion header */


/* #region main */
.sony_logo {
    width: 80px;
}

.jumbo {
    background: url(../img/jumbo-bg.png) #000000;
    background-position: center;
    background-repeat: no-repeat;
    height: 675px;
    margin-top: 105px;
}

.jumbo_cta {
    padding-top: 285px;
}

.slide_up {
    position: relative;
    top: 0;
    transition: 0.5s;
}

.returnal_logo {
    width: 280px;
}

h2 {
    font-size: 40px;
}

.buy_now {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #cd3d0f;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 2rem;
    transition: 0.3s;
}

.selected {
    border: 2px solid #0d6efd;
    padding: 3px;
}

.ps_5 h6 {
    color: #147dd2;
}

.ps_5 p {
    font-weight: bold;
    color: #727272;
}

.more_info {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2d64e6;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.it_takes_two {
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) #1f1f1f;
    background-position: center;
    background-repeat: no-repeat;
    height: 956px;
}

.new_releases {
    background-color: #1f1f1f;
}

.discover {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2d64e6;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.ps_4 i {
    font-size: 12px;
    vertical-align: super;
}

.ps_4 p {
    color: #727272;
    font-size: 20px;
}

.ps_plus {
    background-color: #bebcbb;
}

.explore_ps_plus {
    display: inline-block;
    text-decoration: none;
    color: #2d64e6;
    background-color: #d9dadc;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.sales p {
    color: #727272;
    font-size: 20px;
}

.sales img {
    transition: 0.3s;
}

.ps_now {
    background-color: #161c3b;
}

.explore_ps_now {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 12px 12px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.follow_us img {
    transition: 0.3s;
}

/* #endregion main */


/* #region footer */

#site_footer {
    background-color: #00439c;
}

#site_footer a:not(.legal_info) {
    text-decoration: none;
    display: block;
    color: white;
    padding: 6px 0;
}

.legal_info {
    color: white;
}

/* #endregion footer */


/* #region hover */

.ps_5 .opacity-50:hover {
    opacity: 4 !important;
    border-bottom: 5px solid #0d6efd;
    margin-bottom: -5px;
}

.new_releases img:hover {
    cursor: pointer;
}

.log_in:hover {
    background-color: #363636;
    color: white;
    box-shadow: 0 0 0 2px #363636, inset 0 0 0 2px white;
}

.buy_now:hover {
    background-color: #cd3d0f;
    color: white;
    box-shadow: 0 0 0 3px #cd3d0f, inset 0 0 0 2px white;
}

.more_info:hover {
    background-color: #2d64e6;
    color: white;
    box-shadow: 0 0 0 3px #2d64e6, inset 0 0 0 2px white;
}

.discover:hover {
    background-color: #2d64e6;
    color: white;
    box-shadow: 0 0 0 3px #2d64e6, inset 0 0 0 2px white;
}

.explore_ps_plus:hover {
    background-color: #d9dadc;
    color: #2d64e6;
    box-shadow: 0 0 0 3px #d9dadc, inset 0 0 0 2px #2d64e6;
}

.sales img:hover {
    box-shadow: 12px 12px 0 0 #818181;
    cursor: pointer;
}

.explore_ps_now:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 0 3px white, inset 0 0 0 2px black;
}

.follow_us img:hover {
    cursor: pointer;
}

.legal_info:hover {
    color: white;
}

.jumbo_thumbnails .col:hover {
    top: -20px;
}

.follow_us img:hover {
    transform: scale(108%);
}

/* #endregion hover */